body {
    background-image: url('/Images/BackGround.jpg');
    width: 100% !important;
    height: auto !important;
    background-size: cover;
}
.pass-change-card {
    backdrop-filter: blur(20%) !important;
    -webkit-box-shadow: -2px 3px 13px 1px rgba(143,27,143,0.35) !important;
    -moz-box-shadow: -2px 3px 13px 1px rgba(143,27,143,0.35) !important;
    box-shadow: -2px 3px 13px 1px rgba(143,27,143,0.35) !important;
    border-radius: 65px 65px 65px 65px !important;
    -moz-border-radius: 65px 65px 65px 65px !important;
    -webkit-border-radius: 65px 65px 65px 65px !important;
    border: 0px solid #000000 !important;
    opacity: 0.78 !important;
    background-color:mintcream !important;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    border-radius: .375rem;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-size: 15px;
    line-height: 2rem;
    width: 150%;
    margin-left: 50px
    /*font-size: 1rem;
    line-height: 1.5;
    display: block;
    width: 100%;
    height: calc(2.75rem + 2px);
    padding: .625rem .75rem;
    transition: all .2s cubic-bezier(.68, -.55, .265, 1.55);
    color: #8898aa;
    border: 1px solid #cad1d7;
    border-radius: .375rem;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: none;*/
}

    .dropdown-content a {
        color: black;
        padding: 7px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #f1f1f1
        }

.show {
    display: block;
}

i {
    cursor: pointer;
}

/*Warning shake*/
.shaking-animation {
    animation: shaking 1s 4;
}
@keyframes shaking {
    0% {
        transform: translateX(0)
    }

    25% {
        transform: translateX(5px)
    }

    50% {
        transform: translateX(-5px)
    }

    75% {
        transform: translateX(5px)
    }

    100% {
        transform: translateX(0)
    }
}

.item-input{
    background-color: darkblue !important;
}